{% extends "base.html" %}

{% block title %}Health Self-Assessment{% endblock %}

{% block content %}

<section style="background-color: #f9f9f9;">
    <div class="container py-4">
        <div class="row">
              
            
            <div class="col-12 mb-3">
                <div class="card shadow-sm" style="border-radius: 12px;">
                    <div class="card-body text-left p-3">
                        <img src="{{ url_for('static', filename='images/house_plan.jpg') }}" alt="Fire Icon" width="50" height="50" class="mb-2" />
                        <h5 class="card-title mb-3">Building Plans  Details</h5>
                        <ul class="list-unstyled text-start mb-0">
                            <li>
                                <input type="checkbox" id="building-blueprints">
                                <label for="building-blueprints" class="ms-2">Blueprints approved by municipality</label>
                            </li>
                            <li>
                                <input type="checkbox" id="building-accesibility">
                                <label for="building-accesibility" class="ms-2">Accesibility features included</label>
                            </li>
                            <li>
                                <input type="checkbox" id="building-structural integrity">
                                <label for="building-structural integrity" class="ms-2">Structural Integrity certified</label>
                            </li>
                            <li>
                                <input type="checkbox" id="building-codes">
                                <label for="building-codes" class="ms-2">Compliance to local building codes </label>
                            </li>
                            <li>
                                <input type="checkbox" id="building-renovation-inspection">
                                <label for="building-renovation-inspection" class="ms-2">Inspection of recent renovations</label>
                            </li>
                        </ul>
                    </div>
                </div>

        </div>
    </div>
</section>

{% endblock %}