{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<section style="background-color: #f9f9f9;">
    <div class="container py-4">
        <div class="row">
            <!-- Health Inspection Card -->
            <div class="col-12 mb-3">
              <div class="card shadow-sm" style="border-radius: 12px;">
                  <div class="card-body text-left p-3">
                      <img src="{{ url_for('static', filename='images/Health_checklist.jpg') }}" alt="Health Icon" width="50" height="50" class="mb-2" />
                      <h5 class="card-title mb-3">Health Inspection</h5>
                      <ul class="list-unstyled text-start mb-0">
                          <li>
                              <input type="checkbox" id="health-sanitary">
                              <label for="health-sanitary" class="ms-2">Sanitary facilities</label>
                          </li>
                          <li>
                              <input type="checkbox" id="health-cleaning">
                              <label for="health-cleaning" class="ms-2">Cleaning facilities</label>
                          </li>
                          <li>
                              <input type="checkbox" id="health-handwashing">
                              <label for="health-handwashing" class="ms-2">Handwashing stations</label>
                          </li>
                          <li>
                              <input type="checkbox" id="health-waste">
                              <label for="health-waste" class="ms-2">Waste disposal methods</label>
                          </li>
                          <li>
                              <input type="checkbox" id="health-food">
                              <label for="health-food" class="ms-2">Food handling protocols</label>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

            <!-- Fire Inspection Card -->
            <div class="col-12 mb-3">
                <div class="card shadow-sm" style="border-radius: 12px;">
                    <div class="card-body text-left p-3">
                        <img src="{{ url_for('static', filename='images/safety.jpg') }}" alt="Fire Icon" width="50" height="50" class="mb-2" />
                        <h5 class="card-title mb-3">Fire Inspection</h5>
                        <ul class="list-unstyled text-start mb-0">
                            <li>
                                <input type="checkbox" id="fire-extinguishers">
                                <label for="fire-extinguishers" class="ms-2">Fire extinguishers available</label>
                            </li>
                            <li>
                                <input type="checkbox" id="fire-smoke-detectors">
                                <label for="fire-smoke-detectors" class="ms-2">Smoke detectors installed</label>
                            </li>
                            <li>
                                <input type="checkbox" id="fire-emergency-exits">
                                <label for="fire-emergency-exits" class="ms-2">Emergency exits marked</label>
                            </li>
                            <li>
                                <input type="checkbox" id="fire-evacuation-plan">
                                <label for="fire-evacuation-plan" class="ms-2">Evacuation plan posted</label>
                            </li>
                            <li>
                                <input type="checkbox" id="fire-flammable-materials">
                                <label for="fire-flammable-materials" class="ms-2">Flammable materials stored safely</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

             <!-- Zoning -->
             <div class="col-12 mb-3">
              <div class="card shadow-sm" style="border-radius: 12px;">
                  <div class="card-body text-left p-3">
                      <img src="{{ url_for('static', filename='images/zoning.jpg') }}" alt="Fire Icon" width="50" height="50" class="mb-2" />
                      <h5 class="card-title mb-3">Zoning Compliance Details</h5>
                      <ul class="list-unstyled text-start mb-0">
                          <li>
                              <input type="checkbox" id="zoning-business-type">
                              <label for="zoning-business-type" class="ms-2">Business Type aligns with Zoning laws</label>
                          </li>
                          <li>
                              <input type="checkbox" id="zoning-property-boundary">
                              <label for="zoning-property-boundary" class="ms-2">Property Boundaries are respected</label>
                          </li>
                          <li>
                              <input type="checkbox" id="zoning-Noise-levels">
                              <label for="zoning-Noise-levels" class="ms-2">Noise Levels within limits</label>
                          </li>
                          <li>
                              <input type="checkbox" id="zoning-Parking-requirements">
                              <label for="zoning-Parking-requirements" class="ms-2">Parking Requirements met</label>
                          </li>
                          <li>
                              <input type="checkbox" id="zoning-Environmental-impact">
                              <label for="zoning-Environmental-impact" class="ms-2">Environment Impact assesed</label>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          
           <!-- Electrical  -->
           <div class="col-12 mb-3">
            <div class="card shadow-sm" style="border-radius: 12px;">
                <div class="card-body text-left p-3">
                    <img src="{{ url_for('static', filename='images/electrical.jpg') }}" alt="Fire Icon" width="50" height="50" class="mb-2" />
                    <h5 class="card-title mb-3">Electrical  Compliance Details</h5>
                    <ul class="list-unstyled text-start mb-0">
                        <li>
                            <input type="checkbox" id="electrical-wiring">
                            <label for="electrical-wiring" class="ms-2">Electrical wiring up to code</label>
                        </li>
                        <li>
                            <input type="checkbox" id="electrical-Grounding-system">
                            <label for="electrical-Grounding-system" class="ms-2">Grounding system installed</label>
                        </li>
                        <li>
                            <input type="checkbox" id="electrical-overload-protection">
                            <label for="electrical-overload-protection" class="ms-2">Overload Protection In place</label>
                        </li>
                        <li>
                            <input type="checkbox" id="electrical-swtiches-outlets">
                            <label for="electrical-swtiches-outlets" class="ms-2">All switches and outlets functional </label>
                        </li>
                        <li>
                            <input type="checkbox" id="electrical-backup-power">
                            <label for="electrical-backup-power" class="ms-2">Back-up power generation Inspected</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

       <!-- Building details  -->
       <div class="col-12 mb-3">
        <div class="card shadow-sm" style="border-radius: 12px;">
            <div class="card-body text-left p-3">
                <img src="{{ url_for('static', filename='images/house_plan.jpg') }}" alt="Fire Icon" width="50" height="50" class="mb-2" />
                <h5 class="card-title mb-3">Building Plans  Details</h5>
                <ul class="list-unstyled text-start mb-0">
                    <li>
                        <input type="checkbox" id="building-blueprints">
                        <label for="building-blueprints" class="ms-2">Blueprints approved by municipality</label>
                    </li>
                    <li>
                        <input type="checkbox" id="building-accesibility">
                        <label for="building-accesibility" class="ms-2">Accesibility features included</label>
                    </li>
                    <li>
                        <input type="checkbox" id="building-structural integrity">
                        <label for="building-structural integrity" class="ms-2">Structural Integrity certified</label>
                    </li>
                    <li>
                        <input type="checkbox" id="building-codes">
                        <label for="building-codes" class="ms-2">Compliance to local building codes </label>
                    </li>
                    <li>
                        <input type="checkbox" id="building-renovation-inspection">
                        <label for="building-renovation-inspection" class="ms-2">Inspection of recent renovations</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        </div>
    </div>
</section>

{% endblock %}

