{% extends "officialbase.html" %}

{% block title %}Services{% endblock %}

{% block graphic_content %}
<!-- Override to remove the default graphic -->
{% endblock %}


{% block content %}
<div class="container mt-4">
  <div class="text-left">
    <h1>About Spazanet</h1>
    <p>Spazanet aims to enable better compliance for Spazas.</p>
    <p>Make compliance with Spazanet digital easier. The types of services offered are:</p>
     <!-- Bulleted List with Tick Icons -->
  <ul class="list-unstyled">
    <li class="mb-3">
      <i class="fa fa-check-circle text-success me-2"></i> 
      Easy registration for your store
    </li>
    <li class="mb-3">
      <i class="fa fa-check-circle text-success me-2"></i> 
      Online process to sublet your store
    </li>
    <li class="mb-3">
      <i class="fa fa-check-circle text-success me-2"></i> 
      Tracking of municipal by-law compliance activities for your store:
      <ul>
        <li>Health & Environment</li>
        <li>Fire Safety</li>
        <li>Zoning</li>
      </ul>
    </li>
    <li class="mb-3">
      <i class="fa fa-check-circle text-success me-2"></i> 
      Manage documents
    </li>
  </ul>
  </div>
</div>


<div class="cta-container text-center" style="margin-top: 20px;">
  <a href="{{ url_for('mncauth.official_login') }}" class="btn btn-light">Get Started</a>
  <span style="margin-left: 15px;">Already have an account? <a href="{{ url_for('mncauath.official_login') }}">Sign in</a></span>
</div>

{% endblock %}