{% extends "adminbase.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3 class="text-center">Forgot Password</h3>

  <!-- Flash Messages -->
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
  <div class="form-group col-md-6 mx-auto">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('adminauth.admin_forgot_password') }}">
    <div class="form-group col-md-6 mx-auto">
      <label for="email">Enter your email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    </div>
    
    <div class="form-group col-md-6 mx-auto text-left">
      <button type="submit" class="btn btn-primary btn-lg btn-sm mt-4">Send Reset Link</button>
    </div>
  </form>
</div>
{% endblock %}